DB2File/.vs/
DB2File/DB2File/Client/obj/
DB2File/DB2File/Server/obj/
DB2File/DB2File/Shared/obj/
DB2File/DB2File/.vs/
DB2File/DB2File/DB2File.ApiService/bin/
DB2File/DB2File/DB2File.ApiService/obj/
DB2File/DB2File/DB2File.AppHost/bin/
DB2File/DB2File/DB2File.AppHost/obj/
DB2File/DB2File/DB2File.ServiceDefaults/bin/
DB2File/DB2File/DB2File.ServiceDefaults/obj/
DB2File/DB2File/DB2File.Tests/bin/
DB2File/DB2File/DB2File.Tests/obj/
DB2File/DB2File/DB2File.Web/bin/
DB2File/DB2File/DB2File.Web/obj/
DB2File/DB2File/DB2File.WorkService/obj/
DB2File/DB2File/DB2File.WorkService/bin/
